In [7]:
import scipy, pandas as pd, numpy as np
from matplotlib import pyplot as plt

In [8]:
df = pd.read_csv("extracted_by_year/2007_extracted/tmin2007.csv")
df.head()

,OID_,ZCTA5CE20,AFFGEOID20,GEOID20,NAME20,LSAD20,ALAND20,AWATER20,ORIG_FID,tminJan01,...,tminDec22,tminDec23,tminDec24,tminDec25,tminDec26,tminDec27,tminDec28,tminDec29,tminDec30,tminDec31
0,1,15301,860Z200US15301,15301,15301,Z5,315861121.0,709775.0,0,1.615,...,-0.692,2.806,-2.121,-4.706,-3.620,-2.010,0.380,-0.312000,-3.428,-3.521
1,2,15658,860Z200US15658,15658,15658,Z5,238683518.0,759690.0,1,3.327,...,1.081,1.466,-0.599,-4.378,-4.615,-1.695,0.598,0.340000,-4.071,-4.240
2,3,15601,860Z200US15601,15601,15601,Z5,208874774.0,337008.0,2,3.321,...,1.062,3.231,-1.023,-4.260,-4.638,-2.477,0.137,-0.185000,-4.036,-3.944
3,4,30114,860Z200US30114,30114,30114,Z5,246536321.0,17044903.0,5,8.533,...,7.189,7.277,-0.869,-1.256,2.295,2.982,6.732,9.253000,5.913,0.501
4,5,30281,860Z200US30281,30281,30281,Z5,179405961.0,2749692.0,6,10.564,...,6.933,6.897,-1.579,-1.408,3.301,4.717,6.559,10.604999,8.866,2.280

In [9]:
summary = df.copy()
for name in list(df):
    if name[:4] != "tmin" and name != "GEOID20":
        summary = summary.drop(name, axis=1)
summary.dtypes

GEOID20        int64
tminJan01    float64
tminJan02    float64
tminJan03    float64
tminJan04    float64
              ...
tminDec27    float64
tminDec28    float64
tminDec29    float64
tminDec30    float64
tminDec31    float64
Length: 366, dtype: object

In [10]:
stats = summary.loc[:, summary.columns!='GEOID20'].apply(pd.DataFrame.describe, axis=1)

In [11]:
stats["lower"] = stats["mean"]-1.645*stats["std"]
stats.head()

,count,mean,std,min,25%,50%,75%,max,lower
0,365.0,4.849800,9.965198,-20.823000,-2.046,6.670,12.936,21.990000,-11.542951
1,365.0,4.228301,9.661671,-21.108999,-2.599,5.767,12.232,20.844999,-11.665147
2,365.0,4.561737,9.770327,-21.450001,-2.128,6.350,12.468,21.619000,-11.510450
3,365.0,9.897057,8.461942,-9.416000,2.710,9.885,17.775,23.021000,-4.022838
4,365.0,10.086271,8.517663,-7.572000,3.192,9.697,18.156,24.021999,-3.925284